* {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.row {
    margin: 0;
}

.footer-nav-bar {
    margin-bottom: 0;
}

.img-table-wrapper {
    width: 100px;
    height: 100px;
}